<li class="sidebar-search">
    <div class="row">
        <div class="col-sm-1 col-sm-1 col-md-1 col-lg-1">
            <div style="margin-top: 5px;">
                <a type="button" title="Configure categories">
                    <i class="fa fa-lg fa-cog"></i>
                </a>
            </div>
        </div>
        <div class="col-sm-10 col-sm-10 col-md-10 col-lg-10">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search category...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</li>
<li>
    <div ng-repeat="category in categories | orderBy: 'name' track by $index">
        <ul ng-class="getCategoryClass($index)" id="#{{category.name}}_main">
            <li>
                <a type="button"
                   data-toggle="collapse"
                   data-target="#{{category._id}}"
                   aria-expanded="false"
                   aria-controls="{{category._id}}">
                    <i class="fa fa-fw fa-plus-circle">
                    </i> {{category.title}}<span class="fa arrow"></span>
                </a>
            </li>
        </ul>
        <ul ng-class="getCategoryClass($index, 'nav-second-level collapse')" id="{{category._id}}" collapsible>
            <div class="nav" ng-repeat="subcategory in category.subcategories | orderBy: 'name'">
                <li class="nav">
                    <a href="#/product" ng-click="setCategory(subcategory)">{{subcategory.title}}</a>
                </li>
            </div>
        </ul>
    </div>
    <ul class="nav nav-second-level">
        <li class="nav">
            <a ng-click="toggleShowCategories()">
                <i ng-class="getToggleClass()"></i> Show {{collapsed ? 'more' : 'less'}}
            </a>
        </li>
    </ul>
</li>