<div class="view">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{vm.product.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div id="productHistoryChart"></div>
        </div>
        <a href="#/product">
            <div class="panel-footer emag-footer">
                <span class="pull-left"><i class="fa fa-arrow-circle-left"></i></span>
                <span class="pull-right">Back to products</span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>