<!-- www.botmonster.com/jquery-bootpag -->
<div class="emag-paginator" ng-show="getPaginator().total">
    <div class="col-md-6 emag-paginator-body">
        <pagination
                total-items="getPaginator().total"
                ng-model="getPaginator().currentPage"
                max-size="getPaginator().maxPages"
                class="pagination-md"
                boundary-links="true"
                ng-change="pageChanged()">
        </pagination>
    </div>
    <div class="col-md-5 pagination">
        <div class="col-md-5 emag-paginator-results-select">
            <label class="control-label">Results per Page</label>
        </div>
        <div class="selectContainer col-md-3">
            <select name="resultsPerPage" class="form-control" ng-model="getPaginator().resultsPerPage">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <div class="col-md-1 pagination emag-paginator-results-display">
        <pre class="ng-binding emag-paginator-results-display">Total number of products: {{getPaginator().total}}</pre>
    </div>
</div>