<div class="alert alert-success fade in" ng-show="info">
    <a href="" class="close" data-dismiss="alert">&times;</a>
    <strong>Success:</strong> {{ info.message }}
</div>
<div class="alert alert-warning fade in" ng-show="warning">
    <a href="" class="close" data-dismiss="alert">&times;</a>
    <strong>Warning:</strong> {{ warning.message }}
</div>
<div class="alert alert-danger fade in" ng-show="error">
    <a href="" class="close" data-dismiss="alert">&times;</a>
    <strong>Error:</strong> {{ error.message }}
</div>